{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 style="text-align: center;">FooBar에 로그인 해주세요.</h1>
    </div>

    <div class="container">
        <form action="." method="post" style="width: 50%; margin: 0 auto;">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">아이디</label>
                <input id="id_username" name="username" type="text" class="form-control" placeholder="아이디">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">암호</label>
                <input id="id_password" name="password" type="password" class="form-control" placeholder="암호">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">아이디 저장
                </label>
            </div>
            <button type="submit" class="btn btn-success">로그인</button>
            <button type="submit" class="btn btn-default">회원가입</button>
        </form>
    </div>

{% endblock %}