{% extends "base.html" %}

{% block content %}

{% if user.is_active %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong> 님, Foo Bar에 오신 것을 환영합니다.
{% else %}
    <form action="." method="post">{% csrf_token %}
        <p>아이디와 비밀번호를 입력하십시오.</p>

        <fieldset>
            <div>
                {{ form.username.label_tag }} {{ form.username }}
            </div>

            <div>
                {{ form.password.label_tag }} {{ form.password }}
            </div>
        </fieldset>

        <div>
            <input type="submit" value="Log In"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>

    </form>
{% endif %}


{% endblock %}